// variaveis das cores principiais do layout

// Cores
$cor-primaria: #1a6d3f;      // Verde dos botões
$cor-texto: #333;           // Cor de texto principal (quase preto)
$cor-texto-claro: #f4f4f4;   // Cinza claro para textos
$cor-fundo-site: #e9e9e9;    // Cinza do fundo da página
$cor-cinza-escuro: #444;    // Adiciona uma cor para o fundo do cabeçalho

// Fontes
$fonte-principal: 'Arial', sans-serif;